/*--------------------------------
mobile menu area here  
----------------------------------*/
@media screen and (max-width: 1400px){
    /*--------------------------------
    join area here,  
    recentPost area ends here
    ----------------------------------*/
    .join br,
    .recent-post .cards div.card h4 br,
    .blog-right br{
        display: none;
    }
}
@media screen and (max-width: 1200px){
    /*--------------------------------
    header area here  
    ----------------------------------*/
    .header-content .nav > li:last-child {
        margin-left: 0px;
    }
    /*--------------------------
    #######---blog home area here---########
    ----------------------------*/
    /*--------------------------------
    home-Masonry area here 
    ----------------------------------*/
    .home-Masonry .Masonry {
        columns: 2;
    }
}
@media screen and (max-width: 1024px){}
@media screen and (max-width: 991px){
    /*--------------------- 
    default 
    ----------------------*/
    .banner br,
    .whatCan-title p br{
        display: none;
    }
    /*--------------------- 
    header area here  
    ----------------------*/
    .header-content {
        height: 150px;
    }
    .header-content .nav {
        display: grid;
        position: absolute;
        top: 100%;
        left: -100%;
        width: 500px;
        height: auto;
        background: var(--dark);
        flex-direction: column;
        justify-content: center;
        padding: 40px 0px 40px;
        transition: all .5s ease;
    }
    .header-content .nav.active {
        left: 0;
    }
    .header-content .nav li:nth-child(1) {
        order: 2;
    }
    .header-content .nav li:nth-child(2) {
        order: 3;
    }
    .header-content .nav li:nth-child(3) {
        order: 4;
    }
    .header-content .nav li:nth-child(4) {
        order: 5;
    }
    .header-content .nav li:nth-child(5) {
        order: 1;
    }
    ul.sub-menu {
        margin-left: 20px;
    }
    .header-content .nav > li:hover ul.sub-menu {
        position: relative;
        width: fit-content;
        margin-left: 20px;
        margin-right: 20px;
    }
    .header-content .nav > li > a {
        padding: 10px 20px;
        color: var(--main-color);
    }
    .header-content .nav > li > a:hover, .header-content .nav > li:nth-child(4) > a:hover::after {
        color: var(--white);
    }
    .header-content .nav > li:nth-child(4) > a::after {
        content: "+";
        color: var(--main-color);
        transition: all 0.5s ease 0s;
    }
    .header-content .nav > li:last-child {
        padding: 30px 20px;
    }
    /* form-header here   */
    .form-header form {
        width: 100%;
    }
    .form-header form input {
        font-size: 14px;
        font-weight: 400;
        width: 100%;
        height: 60px;
        border: 1px solid var(--border-color);
        outline: none;
        padding: 0px 120px 0px 20px;
    }
    /* nav here   */
    div.nav-toggler {
        display: block;
    }
    /*--------------------------------
    join area ends here 
    ----------------------------------*/
    .join .join-content {
        margin-bottom: var(--margin-bottom);
    }
    .join img.vector {
        top: inherit;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
    }
    .join ul.join-people {
        margin-left: 0;
        padding: 0px 70px;
    }
    /*--------------------------------
    recentPost area ends here 
    ----------------------------------*/
    .recent-post .cards {
        grid-template-columns: 1fr;
    }
    /*--------------------------------
    subscribe area here 
    ----------------------------------*/
    .subscribe .subscribe-content {
        margin-bottom: 40px;
    }
    /*--------------------------------
    footer area here 
    ----------------------------------*/
    .footer .order:nth-child(1),
    .footer .order:nth-child(2){
        margin-bottom: 70px;
    }
    /*--------------------------
    #######---blog home area here---########
    ----------------------------*/
    /*--------------------------------
    home-Masonry area here 
    ----------------------------------*/
    .home-Masonry .Masonry {
        columns: 1;
    }
    /*--------------------------
    #######---blog right home area here---########
    ----------------------------*/
    /*-----------------------
    blog right area here
    -------------------------*/
    /* blog-right-right  */
    .blog-right-right {
        margin-bottom: 120px;
    }
}
@media screen and (max-width: 768px){
    /*--------------------------------
    customers carousel area here 
    ----------------------------------*/
    .customers-carousel-items .customers-Card {
        padding: 0px 80px;
    }
    /*--------------------------------
    footer area here 
    ----------------------------------*/
    .footer .order:nth-child(3){
        margin-bottom: 70px;
    }

}
@media screen and (max-width: 576px){
    /*---------------------
    default  
    ----------------------*/
    .banner-content h1,
    .whatCan-title h1,
    .app-dev-content .title h1,
    .join .join-content h1{
        font-size: 30px;
        line-height: 45px;
    }
    /* 
    all vector none,
    .customers-carousel-inner::after,
    .img-vector-none,
     */
    .img-vector-none{
        display: none;
    }
    /*--------------------------------
    header area here  
    ----------------------------------*/
    .header {
        padding: 0px 15px 0px;
    }
    .header-content .nav {
        width: 100%;
    }
    .banner-inner .banner-vector {
        display: none;
    }
    .banner-content h1 {
        margin-bottom: 30px;
        line-height: 45px;
        font-size: 30px;
    }
    .header-content .nav {
        display: block;
        top: 0;
    }
    .header-content .nav > li {
        justify-content: start;
    }
    /*--------------------------------
    what can area here  
    ----------------------------------*/
    .whatCan .whatCan-img img {
        margin-top: -64px;
    }
    /*--------------------------------
    app development area here  
    ----------------------------------*/
    .app-dev-card {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .app-dev-card li:nth-child(1) {
        grid-row: auto;
    }
    .app-dev-card li:nth-child(2) {
        grid-row: auto;
    }
    .app-dev-content .card {
        margin-right: 0;
        border: none;
        border-radius: 0;
    }
    /*--------------------------------
    customers carousel area here 
    ----------------------------------*/
    .customers-carousel-items .customers-Card {
        padding: 0px 30px;
    }
    .customers-carousel-inner::after {
        display: none;
    }
    /*--------------------------------
    recent-post area here 
    ----------------------------------*/
    .recent-post .cards div.card {
        padding: 80px 20px 80px;
    }
    .recent-post .card a:nth-child(1) button {
        font-size: 16px;
    }
    /*--------------------------------
    subscribe area here 
    ----------------------------------*/
    .subscribe .subscribe-content h2 {
        margin-bottom: 20px;
    }
    /*--------------------------------
    footer area here 
    ----------------------------------*/
    .footer .address hr {
        width: auto;
    }
    /*--------------------------
    #######---blog home area here---########
    ----------------------------*/
    /*--------------------------------
    banner-blog area here
    ----------------------------------*/
    .banner-blog ul.breadcumb li {
        font-size: 26px;
    }
    /*--------------------------------
    home-Masonry area here
    ----------------------------------*/
    .home-Masonry br{
        display: none;
    }
    .home-Masonry .card {
        margin: 0 0 30px;
    }
    .home-Masonry .card ul.data span {
        font-size: 10px;
    }
}

@media screen and (max-width: 340px){
    /*--------------------------
    #######---blog home area here---########
    ----------------------------*/
    /*--------------------------------
    home-card area here
    ----------------------------------*/
    .home-card .card ul.data span {
        font-size: 10px;
    }
}