/*################################################ 


RESPONSIVE DEVICE
=============================
=============================

1. 1400px devices
2. 1200 xlarge devices
3. 992px large devices
4. 768px medium devices
5. 576px small devices
 

###################################################*/


/*############################## 
Extra large: ---------
1. 1400px devices
################################*/
@media screen and (max-width: 1400px){
    /*--------------------------
    #######--- home area here---########
    ----------------------------*/
    /* header area here  */
    .banner {
        padding: 220px 0px 120px;
    }
    .banner-content h1,
    .app-dev-content .title h1,
    .join .join-content h1{
        line-height: 60px;
        margin-bottom: 30px;
        font-size: 45px;
    }
    .whatCan-title h1 {
        font-size: 45px;
    }
    /* wharCan area here  */
    .whatCan .whatCan-img img {
        margin-top: -310px;
    }
    .recent-post .cards div.card h4 br{
        display: none;
    }
    /*--------------------------
    #######--- 404 area here ---########
    ----------------------------*/
    .error-content .content h2 {
        font-size: 45px;
        line-height: 55px;
    }
}



/*############################## 
Extra large: ------
2. 1200 xlarge devices
################################*/
@media screen and (max-width: 1200px){
    /*--------------------------
    #######--- home area here---########
    ----------------------------*/
    /* banner area here  */
    .banner {
        padding: 200px 0px 120px;
    }
    .banner-content h1,
    .whatCan-title h1,
    .app-dev-content .title h1,
    .join .join-content h1  {
        line-height: 50px;
        font-size: 40px;
        margin-bottom: 20px;
    }
    /* wharCan area here  */
    .whatCan .whatCan-img img {
        margin-top: -290px;
    }
    /*--------------------------------
    header area here  
    ----------------------------------*/
    .header-content .nav > li:last-child {
        margin-left: 0px;
    }
    /*--------------------------
    #######---blog home area here---########
    ----------------------------*/
    /*--------------------------------
    home-Masonry area here 
    ----------------------------------*/
    .home-Masonry .Masonry {
        columns: 2;
    }
    /*--------------------------
    #######---blog right area here---########
    ----------------------------*/
    .blog-right-right .content h2 {
        font-size: 24px;
        line-height: 40px;
        margin: 30px 0px 20px;
    }
    /*--------------------------
    #######--- 404 area here ---########
    ----------------------------*/
    .error-content .content h2 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 30px;
    }
}



/*############################## 
large layout: ----------- 
3. 992px large devices
################################*/
@media screen and (max-width: 992px){
    /* h1  */
    .banner-content h1, .whatCan-title h1, .app-dev-content .title h1, .join .join-content h1 {
        line-height: 45px;
        font-size: 30px;
        margin-bottom: 18px;
    }
    /*--------------------------
    #######---home area here---########
    ----------------------------*/
    /*--------------------- 
    header area here  
    ----------------------*/
    .header-content {
        height: 150px;
    }
    .header-content .nav {
        display: grid;
        position: absolute;
        top: 100%;
        left: -100%;
        width: 500px;
        height: auto;
        background: var(--dark);
        flex-direction: column;
        justify-content: center;
        padding: 40px 0px 40px;
        transition: all .5s ease;
        -webkit-transition: all .5s ease;
    }
    .header-content .nav.active {
        left: 0;
    }
    .header-content .nav li:nth-child(1) {
        order: 2;
    }
    .header-content .nav li:nth-child(2) {
        order: 3;
    }
    .header-content .nav li:nth-child(3) {
        order: 4;
    }
    .header-content .nav li:nth-child(4) {
        order: 5;
    }
    .header-content .nav li:nth-child(5) {
        order: 1;
    }
    ul.sub-menu {
        margin-left: 20px;
    }
    .header-content .nav > li:hover ul.sub-menu {
        position: relative;
        width: fit-content;
        margin-left: 20px;
        margin-right: 20px;
    }
    .header-content .nav > li > a {
        padding: 10px 20px;
        color: var(--main-color);
    }
    .header-content .nav > li > a:hover, .header-content .nav > li:nth-child(4) > a:hover::after {
        color: var(--white);
    }
    .header-content .nav > li:nth-child(4) > a::after {
        content: "+";
        color: var(--main-color);
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
    }
    .header-content .nav > li:last-child {
        padding: 30px 20px;
    }
    /* form-header here   */
    .form-header form {
        width: 100%;
    }
    .form-header form input {
        font-size: 14px;
        font-weight: 400;
        width: 100%;
        height: 60px;
        border: 1px solid var(--border-color);
        outline: none;
        padding: 0px 120px 0px 20px;
    }
    /* nav here   */
    div.nav-toggler {
        display: block;
    }
    /*--------------------------------
    join area ends here 
    ----------------------------------*/
    .join .join-content {
        margin-bottom: var(--margin-bottom);
    }
    .join img.vector {
        top: inherit;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
    .join ul.join-people {
        margin-left: 0;
        padding: 0px 70px;
    }
    /* wharCan area here  */
    .whatCan .what-card {
        margin-bottom: 40px;
    }
    .whatCan .row:last-child div:last-child .what-card {
        margin-bottom: 0px;
    }
    /*--------------------------------
    recentPost area ends here 
    ----------------------------------*/
    .recent-post .cards {
        grid-template-columns: 1fr;
    }
    /*--------------------------------
    subscribe area here 
    ----------------------------------*/
    .subscribe .subscribe-content {
        margin-bottom: 40px;
    }
    /*--------------------------------
    footer area here 
    ----------------------------------*/
    .footer .order:nth-child(1),
    .footer .order:nth-child(2){
        margin-bottom: 70px;
    }
    /*--------------------------
    #######---blog home area here---########
    ----------------------------*/
    /*--------------------------------
    home-Masonry area here 
    ----------------------------------*/
    .home-Masonry .Masonry {
        columns: 1;
    }
    /*--------------------------
    #######---blog right home area here---########
    ----------------------------*/
    /*-----------------------
    blog right area here
    -------------------------*/
    .blog-right .blogs-right{
        padding-right: calc(var(--bs-gutter-x)/ 2);
    }
    /* blog-right-right  */
    .blog-right-right {
        margin-bottom: 80px;
    }
    /* blog-left area here  */
    .blog-right .blogs-left{
        padding-left: calc(var(--bs-gutter-x)/ 2);
    }
    /*--------------------------
    #######---blog-details area here---########
    ----------------------------*/
    /* comments  */
    ul.comments li.comment {
        max-width: 100%;
    }
    /* leave a comment  */
    .comment-form {
        max-width: 100%;
        margin-bottom: 120px;
    }
    /*--------------------------
    #######---contact us area here---########
    ----------------------------*/
    .contact-content {
        grid-template-columns: 100%;
        grid-gap: 60px;
    }
    /*--------------------------
    #######--- 404 area here ---########
    ----------------------------*/
    .error-content .content h2 {
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 20px;
    }
}



/*############################## 
Medium Layout: -----------
4. 768px medium devices
################################*/
@media screen and (max-width: 768px){
    /*-------------
    all vector none and br none
     ------------------*/
     .img-vector-none{
        display: none;
    }
    br {
        display: none;
    }
    /*--------------------------
    #######---home area here---########
    ----------------------------*/
    /*--------------------------------
    customers carousel area here 
    ----------------------------------*/
    .customers-carousel-items .customers-Card {
        padding: 0px 80px;
    }
    /*--------------------------------
    footer area here 
    ----------------------------------*/
    .footer .order:nth-child(1),
    .footer .order:nth-child(2),
    .footer .order:nth-child(3){
        margin-bottom: 60px;
    }
    /*--------------------------
    #######---blog-details area here---########
    ----------------------------*/
    /* tag area here  */
    .tag-wrap {
        flex-direction: column-reverse;
    }
    .tag-wrap ul li {
        margin: 0px 20px 30px 0px;
    }
}



/*############################## 
Small Layout: --------
5. 576px small devices
################################*/
@media screen and (max-width: 576px){
    /*---------------------
    default  
    ----------------------*/
    /* h1  */
    .banner-content h1, 
    .whatCan-title h1, 
    .app-dev-content .title h1, 
    .join .join-content h1 {
        line-height: 32px;
        font-size: 24px;
        margin-bottom: 18px;
    }
    /* p  */
    .banner-content p, 
    .whatCan-title p, 
    .app-dev-content .title p, 
    .join .join-content p {
        line-height: 28px;
        font-size: 16px;
        margin-bottom: 18px;
    }
    .whatCan .what-card h4 {
        font-size: 20px;
        margin: 18px 0px 16px;
    }
    .whatCan .what-card p {
        font-size: 16px;
    }
    /*--------------------------
    #######---home area here---########
    ----------------------------*/
    /*--------------------------------
    header area here  
    ----------------------------------*/
    .header {
        padding: 0px 15px 0px;
    }
    .header-content .nav {
        width: 100%;
    }
    .banner-inner .banner-vector {
        display: none;
    }
    .header-content .nav {
        display: block;
        top: 0;
    }
    .header-content .nav > li {
        justify-content: start;
    }
    .banner-blog ul.breadcumb li h4, .banner-blog ul.breadcumb li a {
        font-size: 20px;
    }
    /*--------------------------------
    what can area here  
    ----------------------------------*/
    .whatCan-title {
        margin: 0px 0px 60px;
    }
    .whatCan .whatCan-img img {
        margin-top: -102px;
    }
    /*--------------------------------
    app development area here  
    ----------------------------------*/
    .app-dev {
        padding: 80px 0px;
    }
    .app-dev-card {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .app-dev-content .card h4 {
        font-size: 20px;
        margin-bottom: 18px;
    }
    .app-dev-card li.card h4 {
        font-size: 20px;
        margin-bottom: 18px;
    }
    .app-dev-card li:nth-child(1) {
        grid-row: auto;
    }
    .app-dev-card li:nth-child(2) {
        grid-row: auto;
    }
    .app-dev-content .card {
        margin-right: 0;
        border: none;
        border-radius: 0;
    }
    /*--------------------------------
    customers carousel area here 
    ----------------------------------*/
    .customers {
        padding: 80px 0px 150px;
    }
    .customers-carousel-items .customers-Card {
        padding: 0px 30px;
    }
    .customers-carousel-inner::after {
        display: none;
    }
    /*--------------------------------
    join area here 
    ----------------------------------*/
    .join {
        padding: 80px 0px;
    }
    /*--------------------------------
    recent-post area here 
    ----------------------------------*/
    .recent-post {
        padding: 80px 0px;
    }
    .recent-post .cards div.card {
        padding: 80px 20px 80px;
    }
    .recent-post .cards div.card h4 {
        line-height: 30px;
        margin-bottom: 20px;
        font-size: 20px;
    }
    .recent-post .cards div.card p {
        font-size: 16px;
        margin-bottom: 20px;
    }
    /*--------------------------------
    subscribe area here 
    ----------------------------------*/
    .subscribe .subscribe-content h2 {
        margin-bottom: 20px;
    }
    /*--------------------------------
    footer area here 
    ----------------------------------*/
    .footer {
        padding: 80px 0px;
    }
    .footer .address hr {
        width: auto;
    }
    /*--------------------------
    #######---blog home area here---########
    ----------------------------*/
    /*--------------------------------
    wbanner-blog area here
    ----------------------------------*/
    .banner-blog ul.breadcumb li {
        font-size: 26px;
    }
    /*--------------------------------
    home masonary area here
    ----------------------------------*/
    .home-Masonry {
        padding: 80px 0px;
    }
    .home-Masonry .card {
        margin: 0 0 30px;
    }
    .home-Masonry .card .content h4 {
        margin-bottom: 18px;
        font-size: 20px;
        line-height: 28px;
    }
    .home-Masonry .card ul.data span {
        font-size: 10px;
    }
    /*--------------------------
    #######---blog-details area here---########
    ----------------------------*/
    .blog-right {
        padding: 80px 0px;
    }
    .blog-right-right .thumb a {
        font-size: 14px;
        padding: 16px 20px;
    }
    .blog-right-right .content h2 {
        font-size: 20px;
        line-height: 30px;
        margin: 30px 0px 20px;
    }
    /* tst area here  */
    .blog-details .tst-content {
        margin: 40px 0px 0px 0px;
    }
    /* tag area here  */
    .tag .tag-content .tag-avatar {
        width: 100%;
    }
    /* comments  */
    div.comment-content span {
        font-size: 20px;
    }
    ul.comments li:nth-child(3) {
        margin-left: 20px;
    }
    /*--------------------------
    #######---contact us area here---########
    ----------------------------*/
    .google-maps {
        margin-top: 80px;
    }
    .contactUs {
        padding: 80px 0px;
    }
    ul.contact-address .title h2 {
        font-size: 24px;
    }
    ul.contact-address .title p {
        font-size: 16px;
    }
    div.ape-content h4 {
        font-size: 20px;
    }
    div.ape-content p {
        font-size: 14px;
    }
    .contact-content .form-group button {
        font-size: 18px;
        padding: 12px 18px;
    }
    /*--------------------------
    #######--- 404 area here ---########
    ----------------------------*/
    .error-content .content h2 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 20px;
    }
    .error-content .content a {
        font-size: 18px;
    }
}
/*============##############
--------RESPONSIVE ENDS HERE----------
##############=============*/